n8n-Ai-Automation-workflow .json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "baa18d7b-75c5-4bcb-9ac1-0e36e08926af",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "genrate a joke for me",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -32
      ],
      "id": "847621ea-2068-4c4b-babf-cd93beca1f0b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "43e2e003-329a-4507-8f35-e88cbddfada5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZKkI8bq5VfI08anI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "dhjbckb@gmail.com",
        "toEmail": "=sheelakushwaha64@gmail.com",
        "subject": "no sub",
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        -32
      ],
      "id": "78461169-be23-4bf7-a280-3828ca4deaf2",
      "name": "Send email",
      "webhookId": "8f59a8fc-1765-4c76-bfc4-74eaf07ecf50",
      "credentials": {
        "smtp": {
          "id": "OcUdvWAAffTaDKsc",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e77dcc95-5c7c-45c2-9529-2a049b72887c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb7b3bf1c7e8affdfb9a01096b0880e079cdd14b48edc708899ceeec9648c373"
  },
  "id": "UwzKYimAQCR1vsJt",
  "tags": []
}